@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&family=Unbounded:wght@200..900&display=swap");
@import url("https://use.typekit.net/sgj5clj.css");
@import "tailwindcss";

@font-face {
  font-family: "PolySans";
  src: url("https://turfinder.github.io/turFinder/src/assets/fonts/polysanstrial-median.otf")
    format("opentype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "PolySans";
  src: url("https://turfinder.github.io/turFinder/src/assets/fonts/polysanstrial-bulky.otf")
    format("opentype");
  font-weight: 700;
  font-display: swap;
}

@theme {
  /* Fonts */
  --font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-polysans: "PolySans", sans-serif;
  --font-unbounded: "Unbounded", sans-serif;
  --font-redhatmono: "Red Hat Mono", monospace;
  --font-degular: "Degular", sans-serif;

  /* Colors */
  --color-almostwhite: #fbf9ed;
  --color-beige: #fcf6cb;
  --color-almostblack: #262626;
  --color-yellow: #e6c700;
  --color-lightgreen: #07ec72;
  --color-green: #00694b;
  --color-darkgreen: #014e38;
  --color-brred: #4e0117;
}
